$bg-color-all: (
    //主色
    bg-primary-1: $primary-color-1,
    bg-primary-2: $primary-color-2,
    bg-primary-3: $primary-color-3,
    bg-primary-4: $primary-color-4,
    //背景色
    bg-color-1: $bg-color-1,
    bg-color-2: $bg-color-2,
    //提示背景
    bg-warning: $warning-color,
    bg-error: $error-color,
    bg-success: $success-color,
    bg-white: $white-color
);
$font-color-all: (
    //文本主色
    font-color-1: $font-color-1,
    font-color-2: $font-color-2,
    font-color-3: $font-color-3,
    font-color-4: $font-color-4,
    font-primary-1: $primary-color-1,
    font-primary-2: $primary-color-2,
    font-primary-3: $primary-color-3,
    font-primary-4: $primary-color-4,
    font-warning: $warning-color,
    font-error: $error-color,
    font-success: $success-color,
    font-white: $white-color
);
//描边颜色
$border-color-all: (
    border-color: $border-color,
    border-primary-1: $primary-color-1,
    border-primary-2: $primary-color-2,
    border-primary-3: $primary-color-3,
    border-primary-4: $primary-color-4,
    border-warning: $warning-color,
    border-error: $error-color,
    border-success: $success-color,
    border-white: $white-color,
);
h1 {
    color: map-get($font-color-all, font-color-1);
}

//背景颜色
@each $name, $value in $bg-color-all {
    .#{$name} {
        background-color: $value !important;
    }
}
//字体颜色
@each $name, $value in $font-color-all {
    .#{$name} {
        color: $value !important;
    }
}
//边框颜色
@each $name, $value in $border-color-all {
    .#{$name} {
        border-color: $value !important;
    }
}
