//主色
$primary-color-1: #e8199e; //主色1
$primary-color-2: #f8e932;
$primary-color-3: #19e891;
$primary-color-4: #fffaf6;
//提示色
$warning-color: #ff6b00;    //警告
$error-color: #df0705;      //错误
$success-color: #19e891;    //错误
$white-color: #fff;         //白色
//字体
$font-color-1: #333333; //主要
$font-color-2: #666666; //常规
$font-color-3: #999999; //次要
$font-color-4: #E7E7E7; //占位文字
//背景
$bg-color-1: #fffaf6; //背景1
$bg-color-2: #f6f6f6; //背景2

//边框
$border-color: #e7e7e7; //默认边框色
